* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
   
}
header {
    text-align: center;
    margin-bottom: 20px;
}
nav {
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

li {
    display: inline;
    margin-right: 100px;
}
li:last-child {
    margin-right: 0px;
}
a {
    color: rgb(34, 34, 34);
    text-decoration: none;
    font-size: 20px;
}
a:hover {
    color: red;
    font-size: 30px;
}
.section-about {
    height: 640px;
    position: relative;
    background: url(../img/607bd72abcd03e71d30a24ae6c95d31e.jpg) center/cover no-repeat;
    margin-bottom: 20px;
}
.section-about__block {
    width: 420px;
    height: 190px;
    background: linear-gradient(45deg, rgba(57, 92, 197, 0.8), rgb(193, 90, 190, 0.8), hwb(55 9% 0% / 0.8));
    position: absolute;
    top: 54%;
    left: 50%;
    padding-top:15px;

}
.section-about__border {
    border: 1px solid black;
    width: 390px;
    height: 160px;
    margin: 0 auto;
    padding: 17px 0 0 28px;
    text-align: left;

}
.section-about__title {
    font-size: 36px;
    color:black;
    margin: 0;
    margin-bottom: 9px;
  
    


}
.section-about__text {
    font-size: 12px;
    color:#343849;
    margin: 0;
}
.second-section {
    margin-bottom: 20px;
}

.second-section__logo {
    text-align: center;
    margin-bottom: 20px;
   
    
}
.second-section__logo img {
    margin-right: 76px;
}
.second-section__logo img:last-child {
    margin-right: 0px;
}
.second-section__title {
    font-size: 76px;
    margin: 0px;
    text-align: center;
    
}
.second-section__span {
    color:red;
}
.second-section__text {
    width: 1000px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;

}
.third-section {
    margin-bottom: 20px;
}
.third-section__title {
    margin-bottom: 20px;
    font-size: 36px;
    text-align: center;
}
iframe {
    display: block;
    margin: 0 auto;
}
hr {
    border: none;
    border-top: 1px solid black;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px;
}
footer {
    height: 80px;
}